.wrapper {
  background-color: var(--pink-background);
  min-height: 100vh;
  width: 100%;
}

.inner-wrapper {
  padding: 60px 10px;
  position: relative;
}

.headline-wrapper {
  outline: 1px solid black;
  background-color: var(--pink-background);
  margin-left: -10px;
  position: absolute;
  width: 100%;
}

.fixed {
  position: fixe;
  top: 0;
}

.headline-wrapper h2 {
  background-color: var(--pink-background);
  height: 50px;
  /* left: 0; */
  padding: 10px 5px;
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
}
